// main.scss

// Utilities
@use './variables' as *;
@use './mixins' as *;

// Base
@use './base';

// Components
@use './components/theme-toggle';
@use './components/header';
@use './components/hero';
@use './components/about';
@use './components/projects';
@use './components/project-card';
@use './components/contact';
@use './components/footer';

// Responsive
@use './responsive';

@font-face {
    font-family: Lato;
    src: url(../../assets/fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Now;
    src: url(../../assets/fonts/Now-Bold.otf);
    font-weight: 700;
}