<!-- Hero Section -->
<section class="hero" id="hero">
    <div class="hero__overlay"></div>
    <div class="hero__container">
        <div class="hero__content">
            <div class="hero__profile">
                <img src="./images/cv.png" alt="Mayara Amaral" class="hero__profile-image">
            </div>
            <h1 class="hero__title">MAYARA AMARAL</h1>
            <p class="hero__subtitle">Front-End Developer</p>
            <nav>
                <ul class="social-links">
                    <li>
                        <a href="https://www.linkedin.com/in/mayara-cristina-do-amaral/" target="_blank" rel="noopener noreferrer">
                            <img src="./images/linkedin.svg" alt="logo do Linkedin">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/MayaraSH" target="_blank" rel="noopener noreferrer">
                            <img src="./images/github.svg" alt="logo do GitHub">
                        </a>
                    </li>
                    <li>
                        <a href="mailto:mayara.workmail@gmail.com">
                            <img src="./images/mail.svg" alt="logo do Email">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/mayara.amaral.sh/" target="_blank" rel="noopener noreferrer">
                            <img src="./images/instagram.svg" alt="logo do Instagram">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>